<div class="series-card">
  <div class="cover-container" [ngClass]="{ 'loaded': isImageLoaded }">
    <img
      class="series-cover"
      [src]="urlHelper.getCoverUrl(series.firstBookId, series.coverUpdatedOn)"
      [class.loaded]="isImageLoaded"
      alt="Cover of {{ series.name }}"
      loading="lazy"
      (load)="onImageLoad()"/>

    <div class="series-count-overlay">{{ series.bookCount }}</div>
  </div>

  <div>
    <div class="series-title-container flex items-center">
      <h4 class="series-title m-0 pl-2">{{ series.name }}</h4>
    </div>
  </div>
</div>

